<div class="center hero-unit">
  <h1>Invoice Maestro</h1>

  <h2>Electronic Invoicing for Mobile PDR and Paint Technicians</h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>